<div class="hero">
    <div class="left-col"><pre>Connexion</pre>
    </div>
    <div class="right-col">
        <div class="box-button">
            <div id="move-button"></div>
            <button type="button" class = "twins" >Connexion</button>
        </div>
        <form id="signin" class="input-group">
            <input type="email" class="input-field" placeholder="Email">
            <input type="password" class="input-field" placeholder="Mot de passe">
            <a href="#">Mot de passe oublié ?</a>
            
            <button type="submit" class="submit-button">Se connecter</button>
        </form>
    </div>
</div>

