<h1 class="title_info"> Inscrivez-vous en 3 minutes</h1>
<form>
    <mat-form-field appearance="outline" color="warn">
        <input   type="text" matInput placeholder="Nom" />
      
    </mat-form-field>
    <mat-form-field appearance="outline" color="warn">
        <input   type="text" matInput placeholder="Prenom" />
      
    </mat-form-field>
    <mat-form-field appearance="outline" color="warn">
        <input   type="email" matInput placeholder="E-mail" />
      
    </mat-form-field>
    <mat-form-field appearance="outline" color="warn">
        <input   type="password" matInput placeholder="Mot de passe" />
        <mat-hint>Minimum 10 caractères</mat-hint>
    </mat-form-field>
    <mat-form-field appearance="outline" color="warn">
        <input   type="password" matInput placeholder="Confirmer mot de passe" />
    </mat-form-field>
    <mat-form-field appearance="outline" color="warn">
        <input   type="text" matInput placeholder="Adresse" />
      
    </mat-form-field>
    <mat-form-field appearance="outline" color="warn">
        <input   type="tel" matInput placeholder="Numero de téléphone" />
      
    </mat-form-field>
    <button mat-fab color="warn" class="add_photo"><mat-icon >add_photo_alternate</mat-icon></button>

    <button mat-raised-button color="warn" class="submit">S'inscrire</button>
</form>
<img src="assets/2-dog.jpg" alt="welcome_dog">
