<img class="photo" src="assets/mec_1.jpeg" alt="photo_pro"> <h1> Profil public d'Alex Dujardin</h1>
   <mat-icon >grade</mat-icon> 30
   <a href="doogly/proPage"><button mat-fab color="warn" class="see_profile">Voir<br> Fiche</button></a>
<div class="posts">
    <h3 class="red_title">Publications</h3>
    <div class="post">
        <img src="assets/day_dog.jpg" alt="story_photo">
        <p class="post_text">Bonjour à tous je vous souhaite à tous une bonne journée du chien ! Pour feter ça je vous mis une petite photo de Raya ma chienne adorée</p>
        <span class="message_date">le 20/12/19 à 11h00</span>
    </div>

    <div class="post">
        <img src="assets/dog.jpg" alt="story_photo">
        <p class="post_text">C'est la meilleure !</p>
        <span class="message_date">le 16/10/19 à 14h00</span>
    </div>

    <div class="post">
        <img src="assets/dog_2.jpg" alt="story_photo">
        <p class="post_text">Je vous partage la photo de ma chienne Raya </p>
        <span class="message_date">le 10/09/19 à 17h00</span>
    </div>

</div>