<div class="hero">
    <div class="left-col"><pre>Bienvenue à vous  <br>Professionel <br>du secteur canin</pre>
    </div>
    <div class="right-col">
        <div class="box-button">
            <div id="move-button"></div>
            <button type="button" class = "twins" >Inscription</button>
        </div>
        <form id="signup" class="input-group">
            <input type="text" class="input-field" placeholder="Nom">
            <input type="text" class="input-field" placeholder="Prenom">
            <input type="email" class="input-field" placeholder="E-mail">
            <input type="text" class="input-field" placeholder="SIRET">
            <input type="password" class="input-field" placeholder="Mot de passe">
            <input type="password" class="input-field" placeholder="Confirmer mot de passe">
            <button type="submit" class="submit-button">S'inscrire</button>

        </form>
    </div>
</div>
