
    <div class="hero">
        <div class="left-col"><pre>Welcome to
     DOOGLY App.</pre>
        </div>
        <div class="right-col">
            <div class="box-button">
                <div id="move-button"></div>
                <button type="button" class = "twins" (click)="signin()" >SIGN IN</button>
                <button type="button" class = "twins" (click)="signup()">SIGN UP</button>
            </div>
            <form id="signin" class="input-group">
                <input type="email" class="input-field" placeholder="Email">
                <input type="password" class="input-field" placeholder="Password">
                <button type="submit" class="submit-button">SIGN IN</button>
            </form>
            <form id="signup" class="input-group">
                <input type="text" class="input-field" placeholder="Name">
                <input type="text" class="input-field" placeholder="Email">
                <input type="text" class="input-field" placeholder="Phone Number">
                <input type="text" class="input-field" placeholder="SIRET">
                <button type="submit" class="submit-button">SIGN UP</button>
            </form>
        </div>
    </div>
